html {
    font-family: 'Inter'; /* @future Add to custom variables */
    overflow: hidden;
	overflow-y: visible;
}

html.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

body.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

p {
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1; /* value from figma */
}