.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 1rem;
}

.section--info {
    background-color: var(--color-neutral-light-3);
    padding-block: 2rem;
    padding-inline: 3rem;
}

@media only screen and (min-width: 992px) {
    .section {
        padding-inline: 5rem;
    }
}