:root {
    /* Color BASE */
    --color-black: #000;
    --color-white: #000;

    /* Color element */
    --color-bg: #fff;
    --color-nav-link: #322d2d;
    --color-nav-link-hover: #322d2d;
    --color-neutral-light-3: #dcdfe4;

    /* Color text */
    --color-text-neutral-light-1: #fff;
    --color-text-neutral-dark-3: #000;
    --color-text-neutral-medium-2: #6b7280;
    --color-text-neutral-medium-3: #4b5563;

    /* Color icon */
    --color-icon-blue: #1c6dd0;

    /* Font-size */
    --f-font-size-menu: .8125rem;
    --f-font-size-4: 1rem;
    --f-font-size-5: 1.125rem;
    --f-font-size-8: 2rem;
    --f-font-size-11: 6.25rem;
    --f-font-size-16: 3rem;

    /* Opacity */
    --color-black-20: rgba(0, 0, 0, 0.2);
}